@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Russo+One&display=swap');
@media (min-width: 276px) {
    :root{
        --particleCount: 15;
    }
    body,html{
        width: 100vw;
        height: 100vh;
    }
    .text-logo-header{
        font-size: 50px;
    }
    #MainContent-Text h3{
        font-size: 32px;
    }
    .btn-get-service{
        height: 40px;
        font-size: 14px;
        
    }
    
}



@media (min-width: 768px) {
    :root{
        --particleCount: 30;
    }
    .text-logo-header{
        font-size: 60px;
    }
    .btn-get-service{
        height: 50px;
        font-size: 20px;

        }
    
}
@media (min-width: 991px) {
    :root{
        --particleCount: 60;
    }
    .text-logo-header{
        font-size: 100px;
    }
        .btn-get-service{
        height: 50px;
        font-size: 24px;
        
    }
    
}
@media (min-width: 1200px) {
    :root{
        --particleCount: 70;
    }
    
    .text-logo-header{
        font-size: 120px;
    }

    .btn-get-service{
    height: 60px;
    font-size: 50px;  
    }

    #MainContent-Text h3{
        font-size: 40px;
    }
}
.TextLogo{
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
}
body{
    background-color: #111013;
    width: 100%;
    height: 100%;
}

#HeaderAnim {
    margin-top: 40px;
    width: 100vw;     /* задай свой размер */
    height: 85vh;
    position: relative;
    overflow: hidden;
}
.CanvasBgr {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; /* canvas на заднем плане */
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* центрируем горизонтально и вертикально */
    z-index: 1;
    color: white;
    text-align: center;
    opacity: 0.9;
}
.text-logo-header{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px rgb(49, 49, 49);
    width: 100vw;

    /* градиент-фон */
    background-image: linear-gradient(to left,
        #ff000000 0%,
        #63265e00 33.33333%,
        rgb(192, 149, 255) 26.66666%,
        rgb(255, 0, 157) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 100%;
    background-position: 100% 0;
    transition: background-position 1s ease-in-out;
}

.text-logo-header-Anim{
    background-position: 0 0;   /* смещаем фон влево */
}
.btn-get-service{
    border: 1px solid rgb(77, 77, 77);
    border-radius: 5px;
    margin-top: 15px;
    background: none;
    padding: 0 10px;
    white-space: nowrap;
    color: rgb(183, 222, 255);
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    transition: border-radius 0.4s, scale 0.4s, font-size 0.4s; /* правильный синтаксис */
    cursor: pointer;
    animation: btn-get-serviceAnim 2s;
    animation-iteration-count: infinite;
}

.btn-get-service-anim{
    border-radius: 15px;
    scale: 1.05;
    font-size: 20px;
}
@keyframes btn-get-serviceAnim{
    0%{
        scale: 1;
    }
    50%{
        scale: 1.05;
    }
    100%{
        scale: 1;
    }
}

.btn-get-service-text{
  font-size:32px;
  text-align:center;
  color:#191335;
  background-image:linear-gradient(to left, #191335, #191335 33.33333%, #01A5F8 66.66666%, #01BFD8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 100%;
  background-position: top right;
  transition:all 0.5s ease-in-out;
}
.buttonsInNavbar{
    margin-right: 15%;
}

.MainContent{
    width: 100vw;
    height: 50vh;
    background-color: #111013;
    padding-top: 200px;
    
}
#MainContent-Text h3{
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(192, 149, 255);
}

#ListService{
    color: rgb(168, 109, 255);
}

