@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Russo+One&display=swap');

/* Основной дизайн */

body,html{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

/*Убрать видимость скролл бара */

body::-webkit-scrollbar { 
  display: none;
}

body{
    background-color: #111013;
    width: 100%;
    height: 100%;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 1;
    color: white;
    text-align: center;
    opacity: 0.9;
}

.text-logo-header{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px rgb(49, 49, 49);
    width: 100vw;

    /* градиент-фон */
    background-image: linear-gradient(to left,
        #ff000000 0%,
        #63265e00 33.33333%,
        rgb(192, 149, 255) 26.66666%,
        rgb(255, 0, 157) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 100%;
    background-position: 100% 0;
    transition: background-position 1s ease-in-out;
}

.text-logo-header-Anim{
    background-position: 0 0;  
}


.btn-get-service{
    border: 1px solid rgb(77, 77, 77);
    border-radius: 5px;
    margin-top: 15px;
    background: none;
    padding: 0 10px;
    white-space: nowrap;
    color: rgb(183, 222, 255);
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    transition: border-radius 0.4s, scale 0.4s, font-size 0.4s; 
    cursor: pointer;
    animation: btn-get-serviceAnim 2s;
    animation-iteration-count: infinite;
}


.MainContent_AnimText{
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
}


#ListService{
    color: #D8BFD8;
}
#blinking-cursor {
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    from, to {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.DescriptionMainContent .col-10{
    color: rgb(177, 177, 177);
}

.DescriptionMainContent span{
    color: rgb(239, 55, 140);
}

footer{
    margin-top: 20vh;
    padding-top: 50px;
}

.TextLogo{
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px; /* Сделать адаптивный шрифт */
}
 
#HeaderAnim {
    margin-top: 10px;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.btn-get-service-anim{
    border-radius: 15px;
    scale: 1.05;
    font-size: 20px;  /* Сделать адаптивный шрифт */
}
@keyframes btn-get-serviceAnim{
    0%{
        scale: 1;
    }
    50%{
        scale: 1.05;
    }
    100%{
        scale: 1;
    }
}



.MainContent{
    width: 100vw;
    height: 50vh;
    background-color: #111013;
    padding-top: 200px; /* Сделать адаптивный ОТСТУП СВЕРХУ */
    
}
.tableforMainContent{
    font-size: 14px; /* Сделать адаптивный шрифт */
    margin-left: 8vw;
    color: rgb(239, 55, 140);
    border: 1px solid rgb(239, 55, 140);
    border-radius: 20px;
    width: fit-content;
    padding: 5px 15px;
}

        /* Сделать все классы AllService адаптивными */

.AllService{
    width: 100%;
    background-color: #17161a;
    padding-top: 20px;
    padding-bottom: 50px;
    border-top: 2px solid #1f1e24;
    border-bottom: 2px solid #1f1e24;
}
.AllService .row{
    margin-top: 25px;
}
.btn-Block-GetService{

    border-radius: 18px;
    padding-left: 10px;
    padding-top: 2vh;
    border: 1px solid #59585e;
}
.btn-Block-GetService:nth-child(1)
{
    background-image: url('/static/MainApp/image/WebPng.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.AllService h4{
    color: rgb(255, 0, 106);
    font-weight: bold;
}
.AllService h6{
    margin-top: 50%;
    color: rgb(209, 209, 209)
}
.AllService h1{
    color: white;
    

}


/* .cards{
    transition: transform 0.2s ease;
    transform: perspective(2000px) rotatey(0deg) rotatex(0deg);
} */